@model IEnumerable<Coursat.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="container ">
    @foreach (var item in Model)
    {
        <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
        <div class="container ">
            @foreach (var subitem in item.Courses)
            {
                <div class="col-md-4">
                    <h2>@Html.DisplayFor(modelItem => subitem.Name)</h2>
                    <img class="thumbnail " src="~/upload/@Html.DisplayFor(modelItem =>subitem.Image)" />
                    <p>@Html.DisplayFor(modelItem => subitem.Description)</p>

                    @Html.ActionLink("ادخل الكورس ", "Indexcours", new { courseid = subitem.Id }, new { @class = "btn btn-primary" })
                </div>
            }
        </div>
    }
</div> 
